#project-0001{
    background-image: url('project-images/project-0001.png');
    background-size: cover;
}
#project-0002{
    background-image: url('project-images/project-0002.png');
    background-size: cover;
}
#project-0003{
    background-image: url('project-images/project-0003.png');
    background-size: cover;
}
#project-0004{
    background-image: url('project-images/project-0004.png');
    background-size: cover;
}
#project-0005{
    background-image: url('project-images/project-0005.png');
    background-size: cover;
}
#project-0006{
    background-image: url('project-images/project-0006.png');
    background-size: cover;
}
#project-0007{
    background-image: url('project-images/project-0007.png');
    background-size: cover;
}
#project-0008{
    background-image: url('project-images/project-0008.png');
    background-size: cover;
}
#project-0009{
    background-image: url('project-images/project-0009.png');
    background-size: cover;
}
#project-0010{
    background-image: url('project-images/project-0010.png');
    background-size: cover;
}
#project-0011{
    background-image: url('project-images/project-0011.png');
    background-size: cover;
}
#project-0012{
    background-image: url('project-images/project-0012.png');
    background-size: cover;
}
#project-0013{
    background-image: url('project-images/project-0013.png');
    background-size: cover;
}
#project-0014{
    background-image: url('project-images/project-0014.png');
    background-size: cover;
}